*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

header .top-header{
    background-color: #15301F;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.top-header .left-section{
    display: flex;
    align-items: center;
    gap: 30px;

}

.top-header .left-section p{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bxl-twitter{
    color: blue;
}

.bxl-whatsapp-square{
    color: #25D366;
}

.bxl-facebook-circle{
    color: #1877F2;
}

.bxl-instagram-alt{
    color: #E1306C;
}

.right-section{
    display: flex;
    align-items: center;
    gap: 30px;
}

.right-section span{
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
}

.social-icons{
    display: flex;
    gap: 20px;
    align-items: center;
}

  .social-icons a{
    
    display: flex;
    align-items: center;
 }

.social-icons a .bx{
    font-size: 25px;
}